*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
   min-height: 100%;
   background-image: url(bg3.jpg);
   cursor: auto;    
}

.button-song{
    float: left;
    display: flex;
    margin-top: 30%;
    position: fixed;
}

#icon{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 10px;
}

.button-song #icon{
    position: absolute;
    float: left;
}
header{
    align-items: center;
    justify-content: space-between;
    display: flex;
    right:0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.663);
    border-bottom: 2px solid rgb(139, 138, 137);
    backdrop-filter: blur(4px);
}   
.navList{
    display: flex;
    margin-left: 254px;
    text-shadow: 1px 1px 3px rgb(255, 254, 254);
}

.navList li .contactAct{
    color: rgb(233, 90, 50);
}

.navList a{
    color:white;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 300;
    padding: 20px 20px;
    display: fixed;
    flex-grow: 1;
    letter-spacing: 2px;
}

.navList a:hover{
    background-color: rgba(225, 176, 0, 0.351);
    padding: 30px 20px;
}
header h1{
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin:40px;
    font-weight: 700;
    font-size: 38px;
    text-shadow: -1px -2px 5px rgb(255, 254, 254);
}
header h1 a{
    color: rgb(233, 90, 50);
}

#menu-box{
    color: white;
    font-size:50px;
    z-index: 10001;
    cursor: pointer;
    margin-right: 25px;
}



/*Contact Section*/

.contact-header{
    text-shadow: -1px 4px 5px rgba(3, 3, 3, 0.752);
    color: rgb(233, 90, 50);
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 20px;
    font-size:  40px;
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    width: 44%;
    margin-left: 28%;
    margin-top: 5%;
}

.contact-img{
    object-fit: cover;
    width: 20%;
    height: 50vh;
    min-height: 100%;
    margin-left: 14%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.section{
    color: white;
    position: absolute;
    top: 40vh;
    padding: 20px;
    height: 50vh;
    margin-left: 46%;
    width: 50%;
    margin-bottom: 5px;
}

.section pre{
    font-size: 1.20em;
    font-weight: 700;
    color: rgb(233, 90, 50);
    display: flex;
}

.section pre > p{
    color: white;
}
.section pre > a{
    color: white;
}

.section pre {
    text-shadow: -1px 4px 5px rgba(3, 3, 3, 0.752);
    color: rgb(233, 90, 50);
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 20px;
    font-size:  18px;
    padding-top: 20px;
    text-align: justify;
}

.contact-text{
    text-shadow: -1px 4px 5px rgba(3, 3, 3, 0.752);
    color: rgb(233, 90, 50);
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 20px;
    font-size:  40px;
    padding-top: 20px;
    text-align: center;
    margin-top: 3vh;
}
.img-google{
    margin-bottom: 100vh;
}

.img-googles{
    object-fit: cover;
    width: 80%;
    height: 40vh;
    min-height: 100%;
    margin-left: 14%;
    margin-top: 2%;
    margin-bottom: 20%;
    box-shadow: 1px 8px 20px 10px rgba(0, 0, 0, 0.867);
    
}

/*footer-div*/

.footer-all-div{
    background: black;
    color: white;
    min-width: 100%;
    margin-top: 36vh;
    height:40vh;
    border-top: 1px solid;

}

/* Cocosinero Footer*/

.footer-home a{
    text-shadow: -1px 4px 5px rgba(3, 3, 3, 0.752);
    color: rgb(233, 90, 50);
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin-left: 41%;
}

.hours-div{
    margin-left: 41%;
    font-size: 1.50em;
    padding: 5px;
}

.openHrs-div{
    text-align: center;
    margin-right: 4%;
    font-size: 1em;
}

.nav-loc-hour{
    padding-top: 10px;
    margin-right: 4%;
    text-align: center;
}

.nav-loc-hour a{
    color: rgb(255, 255, 255);
}

.nav-loc-hour a:hover{
    color: rgb(233, 90, 10);
}
/* Cocosinero Site Map of Website*/
.footer-nav-map{
    padding: 5px;
    text-align: center;
    top:139.1vh;
    position: absolute;
    margin-left: 2%;
}

.footer-nav-map .site-map{
    text-shadow: -1px 4px 5px rgba(3, 3, 3, 0.752);
    color: rgb(233, 90, 50);
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
}

.footer-nav-map a{
    color: white;
    display: flex;
    line-height: 40px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-left: 4px;
}

.footer-nav-map a:hover{
    color: rgb(233, 90, 10);
}

/* Cocosinero Social Media Links*/

.footer-social{
    padding: 5px;
    text-align: center;
    top:137.5vh;
    position: absolute;
    margin-left: 82%;
    text-shadow: -1px 4px 5px rgba(3, 3, 3, 0.752);
    color: rgb(233, 90, 50);
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
}

.footer-social a{
    color: rgb(24, 3, 255);
    margin-right: 78px;
}

.footer-social a:hover{
    color: rgb(14, 92, 169);
}

.qualityfoods{
    top: 154.5vh;
    position: absolute;
    margin-left: 82.5%;
}

.footer-copyRight{
    top: 175vh;
    position: absolute;
    margin-left: 35%;
}

.footer-copyRight a{
    color: rgb(233, 90, 10);
    font-size: 18px;
    font-weight: 700;
    position: relative;
}

@media (max-width:768px) {
    

#menu-box{
    color: white;
    font-size:50px;
    z-index: 10001;
    cursor: pointer;
    margin-right: 25px;
    display: flex;
}

header{
    width: 100%;
}

header .cocosinero-img{
    height: 250px;
    width: auto;
    filter: contrast(100%);
    margin-right: 20%;
    margin-top: 45%;
    margin-left: -390px;
    position: flex;
}

.cocosinero-img:hover{
    transform: rotate(360deg);
}

.navList{
    margin-top: 30%;
    display: block;
    margin-right: -20%;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: -20vh;
    left: 30.7%;
    background-color: rgba(0, 0, 0, 1);
    width: 30%;
    height: 40vh;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: max(1.5rem, 5vmin);
    transition: all 0.3s ease;
    border-radius: 10px;
    padding-left: 10%;
    opacity: 0;
}

.btn-navList{
    background-color: black;
}

.btn-navList:hover .navList{
    opacity: 1;
}

.navList a{
    font-size:24px;
    margin-left: -50px;
    opacity: 1;
}

header h1{
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin:40px;
    font-weight: 700;
    font-size: 30px;
    text-shadow: -1px -2px 5px rgb(255, 254, 254);
}
header h1 a{
    color: rgb(233, 90, 50);
}



.section{
    margin-left: 10%;
    top: 100%;
    font-size: 10px;
}

.contact-text{
margin-left: 60%;
}

.img-googles{
margin-left: -17%;
width: 90vw;
height: 50vh;
border-radius: 30px;
box-shadow: 1px 1px 4px orange;
}

.site-map{
    margin-top: 7px;
}
.footer-home{
    margin-top: -7px;
    margin-left: -4%;
    width: 70%;
}

.hours-div{
    margin-left: -10%;

}

.openHrs-div{
    text-align: center;
    margin-left: -7%;
}

.nav-loc-hour{
    padding-top: 10px;
    text-align: center;
    margin-left: -6%;
}
.qualityfoods{
    margin-left: 67%;
    margin-top: 510px;
    text-align: left;
}

.footer-copyRight{
    margin-top: 496px;
    margin-left: 20%;
}

.footer-all-div{
    background: linear-gradient(to left,black, rgb(1, 1, 1));
    color: white;
    max-width: 129.5%;
    height:40vh;
    text-align: center;
    border-top: 1px solid;
    margin-top: 100%;
}

.footer-social{
    margin-left: 65.4vw;
    margin-top: 491px;
    font-size: 25px;
    text-align: center;
}

.footer-nav-map .site-map{
    margin-top: 490px;
    font-size: 30px;
}
}

