*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
   min-height: 100%;
   background-image: url(bg3.jpg);
   cursor: auto; 
   background-size: cover; 
   background-repeat: no-repeat; 
   height: 800vh;
   width: 100%;
}

header{
    align-items: center;
    justify-content: space-between;
    display: flex;
    right:0;
    top: 0;
    max-width: 100%;
    height: 90px;
    border-bottom: 2px solid grey;
}   
.navList{
    display: flex;
    margin-left:200px;
}

.navList li .menuAct{
    color: rgb(233, 90, 50);
}

.navList a{
    color:white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    padding: 20px 20px;
    display: fixed;
    flex-grow: 1;
}

.navList a:hover{
    background-color: rgba(225, 176, 0, 0.351);
    padding: 30px 20px;
}
header h1{
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin:40px;
    font-weight: 700;
    font-size: 28px;
    text-shadow: -1px -2px 5px rgb(255, 254, 254);
}
header h1 a{
    color: rgb(233, 90, 50);
}

#menu-box{
    color: white;
    font-size:50px;
    z-index: 10001;
    cursor: pointer;
    margin-right: 25px;
    visibility: collapse;
}
/*Start for menu navigation*/
.h1menu{
    text-shadow: -1px 4px 5px rgba(3, 3, 3, 0.752);
    color: rgb(233, 90, 50);
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}
p{
    text-align: center;
    margin: 20px;
    display: block;
    font-size: 1em;
    color: white;
    margin-bottom:40px;
}

.menu-nav{
    color: white;
    padding: 18px;
    border:none;
    background-color:rgb(233, 90, 50);
    border-radius: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-shadow: -1px -2px 5px rgb(60, 60, 60);
    margin-left:47.5%;
    margin-bottom: 100% ;
}

.menu-nav:hover{
    background-color:rgba(97, 97, 97, 0.821)
}

/*Container for the section*/
.menu-container{
    font-size: 40px;
    color: rgb(233, 90, 50);;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
    min-width: 100%;
}

.menu-container h1{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
    margin-top: 5%;
}


/* Item for ricemeal*/

.rice-meal{
    position: absolute;

}

.rice-meal-menu img{
    max-width: 100%;
    height: 50vh;
    justify-content: space-between;
    padding: 20px 20px;
    object-fit: cover;
    border-radius: 10%;
}

.rm-item{
    display: flex;
    margin-left: 120px;
    width: 85%;
}

.rm-img{
    margin-right: 0;
    width: 25%;
    font-size: 30px;
}

.rm-items{
    font-size: 24px;
    margin-left: 4%;
    margin-top: -30px;
}

.leg-items{
    font-size: 24px;
    margin-left: 7%;
    margin-top: -30px;
}

.grilled-img{
    width: 25%;
    height: 80px;
    font-size: 30px;
    margin-left: 40px;
}

.grilled-item{
    font-size: 24px;
    margin-left: 13.5%;
    margin-top: -30px;
}

.ala-img{
    margin-left: 40px;
    width: 25%;
}

.ala-item{
    font-size: 24px;
    margin-left: 14%;
    margin-top: -30px;
}

.rm-price{
    display: flex;
    margin-bottom: -10%;
    color: rgb(233, 90, 50);
}

h6{
    margin-left: 17%;
    color: white;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 100px
}

.pitso-price{
    padding: 20px;
    border-radius: 10%;
    margin-left: 9%;
    color: white;
    font-size: 20px;
    color: rgb(233, 90, 50);
    font-weight: 700;
    text-align: center;
    margin-top: -50px;
    text-transform: uppercase;
}

.leg-price{
    padding: 20px;
    border-radius: 10%;
    margin-left: 1%;
    color: white;
    font-size: 20px;
    color: rgb(233, 90, 50);
    font-weight: 700;
    text-align: center;
    margin-top: -50px;
    text-transform: uppercase;
    font-style: italic;
}

.gchix-price{
    padding: 20px;
    border-radius: 10%;
    margin-left:3%;
    color: white;
    font-size: 20px;
    color: rgb(233, 90, 50);
    font-weight: 700;
    text-align: center;
    margin-top: -50px;
    text-transform: uppercase;
}

.ala-price{
    padding: 20px;
    border-radius: 10%;
    margin-left: 230px;
    color: white;
    font-size: 20px;
    color: rgb(233, 90, 50);
    font-weight: 700;
    text-align: center;
    margin-top: -50px;
    text-transform: uppercase;
}

.cs-items{
    font-size: 24px;
    margin-left: 9%;
    margin-top: -30px;
}

.cs-price{
    color: rgb(233, 90, 50);
    margin-top: -30px;
    margin-left: 11%;
}

.gp-item{
    font-size: 24px;
    margin-left: 19%;
    margin-top: -30px;
}

.gp-price{
    color: rgb(233, 90, 50);
    margin-left: 19%;
    margin-top: -30px;
}

.l-item{
    font-size: 24px;
    margin-left: 17%;
    margin-top: -30px;
}

.l-price{
    color: rgb(233, 90, 50);    
    margin-left: 20%;
    margin-top: -30px;
}

.sps-items{
    font-size: 24px;
    margin-left: 5%;
    margin-top: -30px;
}

.sps-price{
    color: rgb(233, 90, 50);    
    margin-left: 11.5%;
    margin-top: -30px;
}

.cal-item{
    font-size: 24px;
    margin-left: 15.5%;
    margin-top: -30px;
}

.cal-price{
    color: rgb(233, 90, 50);    
    margin-left: 19%;
    margin-top: -30px;
}

.pchop-item{
    font-size: 24px;
    margin-left: 20%;
    margin-top: -30px;
}

.pchop-price{
    color: rgb(233, 90, 50);    
    margin-left: 19%;
    margin-top: -30px;
}

.ff-items{
    font-size: 24px;
    margin-left: 9%;
    margin-top: -30px;
}

.ff-price{
    color: rgb(233, 90, 50);    
    margin-left: 11%;
    margin-top: -30px;
}

.fc-item{
    font-size: 24px;
    margin-left: 21%;
    margin-top: -30px;
}

.fc-price{
    color: rgb(233, 90, 50);    
    margin-left: 20%;
    margin-top: -30px;
}

.cb-item{
    font-size: 24px;
    margin-left: 17%;
    margin-top: -30px;
}

.cb-price{
    color: rgb(233, 90, 50);    
    margin-left: 19.5%;
    margin-top: -30px;
}

/*Best Seller*/

.menu-best-seller{
    font-size: 40px;
    color: rgb(233, 90, 50);;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
    min-width: 100%;
}

.menu-best-seller h1{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
    margin-top: 5%;
    position: absolute;
}

/*Best-seller menu*/

.bseller{
    position: absolute;
    top: 295vh;
}

.bs-menu img{
    max-width: 100%;
    height: 45vh;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 10%;
}

.bs-item{
    display: flex;
    margin-left: 120px;
    width: 85%;
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase;
}

.akb-img{
    margin-right: 0;
    width: 25%;
    font-size: 30px;
    margin-left: 9%;
    margin-top: 25%;
}

.akb-items{
    font-size: 24px;
    margin-left: 7%;
    margin-top: -25px;
}

.sbb-img{
    width: 25%;
    height: 70px;
    font-size: 30px;
    margin-left: 40px;
    object-fit: cover;
    clip: 50px;
}

.sbb-item{
    font-size: 24px;
    margin-left: 10.5%;
    margin-top: -30px;
}

.lb-img{
    margin-left: 40px;
    width: 25%;
    object-fit: cover;
}

.lb-item{
    font-size: 24px;
    margin-left: 13%;
    margin-top: -30px;
}

.bs-price{
    display: flex;
    margin-bottom: -10%;
    color: rgb(233, 90, 50);
}
.akb-price{
    padding: 20px;
    border-radius: 10%;
    margin-left:11%;
    color: white;
    font-size: 20px;
    color: rgb(233, 90, 50);
    font-weight: 700;
    text-align: center;
    margin-top: -60px;
    text-transform: uppercase;
}

.sbb-price{
    padding: 20px;
    border-radius: 10%;
    margin-left: 230px;
    color: white;
    font-size: 20px;
    color: rgb(233, 90, 50);
    font-weight: 700;
    text-align: center;
    margin-top: -60px;
    text-transform: uppercase;
}

.lavab-price{
    padding: 20px;
    border-radius: 10%;
    margin-left: 230px;
    color: white;
    font-size: 20px;
    color: rgb(233, 90, 50);
    font-weight: 700;
    text-align: center;
    margin-top: -60px;
    text-transform: uppercase;
}

.fo-img{
    margin-right: 0;
    width: 25%;
    font-size: 30px;
    margin-left: 2%;
}

.fo-items{
    font-size: 24px;
    margin-left: 26%;
    margin-top: -30px;
}

.fo-price{
    color: rgb(233, 90, 50);
    margin-top: -40px;
    margin-left: 27%;
}

.fp-img{
    margin-right: 0;
    width: 25%;
    font-size: 30px;
    margin-left: 2%; 
}

.fp-item{
    font-size: 24px;
    margin-left: 17%;
    margin-top: -30px;
}

.fp-price{
    color: rgb(233, 90, 50);
    margin-top: -40px;
    margin-left: 20%;
}

.bar-item{
    display: flex;
    margin-left: 120px;
    width: 85%;
    font-weight: 700;
    margin-top: 50px;      
    text-transform: uppercase;
}

.bar-items{
    font-size: 24px;
    margin-left: 22%;
    margin-top: -10px;
    line-height: 2em;
}

.bar-price{
    color: rgb(233, 90, 50);
    margin-top: -40px;
    margin-left: 25%;
    text-transform: uppercase;
}

.bars-items{
    font-size: 24px;
    margin-left: 22%;
    margin-top: -150px;
    line-height: 2em;
}

.bars-price{
    color: rgb(233, 90, 50);
    margin-top: -100px;
    margin-left: 25%;
    text-transform: uppercase;
}

.fams-price{
    color: rgb(233, 90, 50);
    margin-top: -40px;
    margin-left: 18%;
    display: flex;
}

.fam-item{
    font-size: 24px;
    margin-left: 22%;
    margin-top: -10px;
    line-height: 2em;
}

.fam-price{
    color: rgb(233, 90, 50);
    margin-top: -40px;
    margin-left: 23%;
    text-transform: uppercase;
}

.fams-item{
    font-size: 24px;
    margin-left: 25%;
    margin-top: -150px;
    line-height: 2em;
}

.famss-price{
    color: rgb(233, 90, 50);
    margin-top: -100px;
    margin-left: 23%;
    text-transform: uppercase;
}

/*Bilao Menu*/

.menu-bilao{
    font-size: 40px;
    color: rgb(233, 90, 50);;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
    min-width: 100%;
}

.menu-bilao h1{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
    margin-top: -7%;
    position: absolute;
}

.bilao-menu{
    position: absolute;
}

.bilao-size-menu img{
    max-width: 100%;
    height: 45vh;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 10%;
    margin-top: 8%;
}

.spag-img{
    margin-right: 0;
    width: 25%;
    font-size: 30px;
    margin-left: 17%;
    margin-top: 25%;
    object-fit: cover;
}

.spag-item{
    font-size: 28px;
    margin-right: 90%;
    margin-top: -20px;
    text-align: justify;
}

.carb-img{
    margin-right: 0;
    width: 25%;
    font-size: 30px;
    margin-left: 2%;
    margin-top: 25%;
    object-fit: cover;
}

.spag-title{
    font-size: 28px;
    margin-right: 40%;
    margin-top: -30px;
}

.carb-title{
    font-size: 28px;
    margin-right: -16%;
    margin-top: -85px;
}

.pg-title{
    font-size: 28px;
    margin-right: -72%;
    margin-top: -80px;
}

.carb-item{
    font-size: 28px;
    margin-right: 90%;
    margin-top: -30px;
    text-align: justify;
}

.pg-img{
    margin-right: 0;
    width: 25%;
    font-size: 30px;
    margin-left: 2%;
    margin-top: 25%;
    object-fit: cover;
}

.pg-item{
    font-size: 28px;
    margin-right: 90%;
    margin-top: -30px;
    text-align: justify;
}

.spag-price{
    padding: 20px;
    border-radius: 10%;
    margin-left: 440px;
    color: white;
    font-size: 20px;
    color: rgb(233, 90, 50);
    font-weight: 700;
    text-align: center;
    margin-top: -125px;
    text-transform: uppercase;
    line-height: 80px;
}

.carb-price{
    padding: 20px;
    border-radius: 10%;
    margin-left: 220px;
    color: white;
    font-size: 20px;
    color: rgb(233, 90, 50);
    font-weight: 700;
    text-align: center;
    margin-top: -125px;
    text-transform: uppercase;
    line-height: 80px;
}

.pg-price{
    padding: 20px;
    border-radius: 10%;
    margin-left: 218px;
    color: white;
    font-size: 20px;
    color: rgb(233, 90, 50);
    font-weight: 700;
    text-align: center;
    margin-top: -125px;
    text-transform: uppercase;
    line-height: 80px;
}








