*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
   min-height: 100%;
   background-image: url(bg3.jpg); 
   cursor: auto;    
}

header{
    align-items: center;
    justify-content: space-between;
    display: flex;
    right:0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.663);
    border-bottom: 2px solid rgb(139, 138, 137);
    backdrop-filter: blur(4px);
} 

.button-song{
    float: left;
    display: flex;
    margin-top: 30%;
    position: fixed;
}

#icon{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 10px;
}

.button-song #icon{
    position: absolute;
    float: left;
} 

.navList{
    display: flex;
    margin-left: 180px;
}

.navList li .qstoryAct{
    color: rgb(233, 90, 50);
}

.navList a{
    color:white;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 300;
    padding: 20px 20px;
    display: fixed;
    flex-grow: 1;
    letter-spacing: 2px;
}

.navList a:hover{
    background-color: rgba(225, 176, 0, 0.351);
    padding: 30px 20px;
}
header h1{
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin:40px;
    font-weight: 700;
    font-size: 38px;
    text-shadow: -1px -2px 5px rgb(255, 254, 254);
}
header h1 a{
    color: rgb(233, 90, 50);
}

#menu-box{
    color: white;
    font-size:50px;
    z-index: 10001;
    cursor: pointer;
    margin-right: 25px;
    visibility: hidden;
}

/*content of the first section*/
.student-meal{
    padding-top: 0;
    background-repeat: no-repeat;
    height: 100vh;
    width:100%;
    display: fixed;
}

#section-one{
    align-items: center;
    justify-content: center;
    text-align: start;
    position: absolute;
    top: 28%;
    right:10%;
    height: 41vh;
}

.text-line{
    color: rgb(233, 90, 50);
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    padding:24px;
    text-shadow: -1px 4px 5px rgba(3, 3, 3, 0.752);
    font-size: 38px;
}

#info-p{
    color: white;
}
#info-p p{
    text-align: justify;
    align-items: right;
    padding: 24px;
    font-size: 14px;
    margin-bottom: 28px;
}

.read-more-link{
    color: white;
    padding: 18px;
    border:none;
    background-color:rgb(233, 90, 50);
    border-radius: 10px;
    text-shadow: -1px -2px 5px rgb(60, 60, 60);
    margin-left: 20px;
}

.read-more-link:hover{
    background-color:rgba(169, 169, 169, 0.821)
}


/*Content for second section*/
.crispy-food{
    object-fit: cover;
    width: 50%;
    height: 50vh;
    min-height: 100%;
    margin-left: 48%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 1px 8px 20px 10px rgba(0, 0, 0, 0.867);
    animation: fade 2s ease-in forwards 1s;
    opacity: 0;
}

.section-two{
    color: white;
    position: absolute;
    bottom: -55vh;
    padding: 15px;
    height: 40vh;
    margin-left: 20px;
    width: 45%;
    margin-bottom: 5px;
}

.section-two .text-two{
    text-shadow: -1px 4px 5px rgba(3, 3, 3, 0.752);
    color: rgb(233, 90, 50);
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 5px;
    font-size:  40px;
    padding-top: 43px;
    border-bottom: 0.05em solid;
}

.section-two .info-two{
    padding: 5px;
    font-size: 14px;
    margin-bottom: 35px;
    margin-top: 5px;
}

/*Content for third section*/

.cocosinero-commit{
    object-fit: cover;
    width: 50%;
    height: 50vh;
    min-height: 100%;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 1px 8px 20px 10px rgba(0, 0, 0, 0.867);
    animation: fade 4s ease-in forwards 1s;
    opacity: 0;
}

.section-three{
    color: white;
    position: absolute;
    bottom: -122vh;
    padding: 15px;
    height: 40vh;
    margin-left: 53%;
    width: 45%;
    margin-bottom: 5px;
}

.section-three .text-three{
    text-shadow: -1px 4px 5px rgba(3, 3, 3, 0.752);
    color: rgb(233, 90, 50);
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 5px;
    font-size:  40px;
    padding-top: 43px;
    border-bottom: 0.05em solid;
}

.section-three .info-three{
    padding: 5px;
    font-size: 14px;
    margin-bottom: 35px;
    margin-top: 5px;
}

/*Content for fourth section*/

.menu-page{
    object-fit: cover;
    width: 50%;
    height: 50vh;
    min-height: 100%;
    margin-left: 48%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 1px 8px 20px 10px rgba(0, 0, 0, 0.867);
    animation: fade 6s ease-in forwards 1s;
    opacity: 0;
}

.section-four{
    color: white;
    position: absolute;
    top: 250vh;
    padding: 15px;
    height: 50vh;
    margin-left: 1%;
    width: 45%;
    margin-bottom: 5px;

}

.section-four .text-four{
    text-shadow: -1px 4px 5px rgba(3, 3, 3, 0.752);
    color: rgb(233, 90, 50);
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 5px;
    font-size:  40px;
    padding-top: 43px;
    border-bottom: 0.05em solid;
}

.section-four .info-four{
    padding: 5px;
    font-size: 14px;
    margin-bottom: 80px;
    margin-top: 5px;
}

.view-tab{
    padding: 18px;
    border:none;
    background-color:rgb(233, 90, 50);
    border-radius: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-shadow: -1px -2px 5px rgb(60, 60, 60);
    margin-top: 20%;
    color: white;
    margin-left: 1%;
    animation: fade 6s ease-in forwards 1s;
    opacity: 0;
}

.view-tab:hover{
    background-color:rgba(169, 169, 169, 0.821)
}

/*Content for last section*/

.head-text-five{
    text-shadow: -1px 4px 5px rgba(3, 3, 3, 0.752);
    color: rgb(233, 90, 50);
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 20px;
    font-size:  40px;
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    width: 20%;
    margin-left: 37%;
    animation: fade 8s ease-in forwards 1s;
    opacity: 0;
}

.sec-five{
    object-fit: cover;
    width: 20%;
    height: 50vh;
    min-height: 100%;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 1px 8px 20px 10px rgba(0, 0, 0, 0.867);
    animation: fade 7s ease 1s;
    opacity: 1;

}

.section-five{
    color: white;
    position: absolute;
    top: 320vh;
    padding: 15px;
    height: 70vh;
    margin-left: 48%;
    width: 50%;
    margin-bottom: 5px;
    animation: fade 1s ease-in forwards 1s;
    opacity: 0;
}

.section-five .newline-five{
    text-shadow: -1px 4px 5px rgba(3, 3, 3, 0.752);
    color: rgb(233, 90, 50);
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 15px;
    font-size:  40px;
    padding-top: 80px;
    margin-top: 30px;
}

.section-five .info-five{
    padding: 5px;
    font-size: 14px;
    margin-bottom: 80px;
    margin-top: 5px;
}

/*footer-div*/

.footer-all-div{
    background-color: rgb(95, 35, 1);
    color: white;
    min-width: 100%;
    height:40vh;
}

/* Cocosinero Footer*/
.footer-home a{
    text-shadow: -1px 4px 5px rgba(3, 3, 3, 0.752);
    color: rgb(233, 90, 50);
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin-left: 75px;
}

.hours-div{
    margin-left: 5%;
    font-size: 1.50em;
    padding: 5px;
}

.openHrs-div{
    text-align: center;
    margin-right: 79%;
    font-size: 1em;
}

.nav-loc-hour{
    padding-top: 10px;
    
    margin-right: 78%;
    text-align: center;
}

.nav-loc-hour a{
    color: rgb(152, 150, 150);
}

.nav-loc-hour a:hover{
    color: rgb(233, 90, 10);
}
/* Cocosinero Site Map of Website*/
.footer-nav-map{
    padding: 5px;
    text-align: center;
    top:400vh;
    position: absolute;
    margin-left: 42%;
}

.footer-nav-map .site-map{
    text-shadow: -1px 4px 5px rgba(3, 3, 3, 0.752);
    color: rgb(233, 90, 50);
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
}

.footer-nav-map a{
    color: white;
    display: flex;
    line-height: 40px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-left: 4px;
}

.footer-nav-map a:hover{
    color: rgb(233, 90, 10);
}

/* Cocosinero Social Media Links*/

.footer-social{
    padding: 5px;
    text-align: center;
    top:400vh;
    position: absolute;
    margin-left: 82%;
    text-shadow: -1px 4px 5px rgba(3, 3, 3, 0.752);
    color: rgb(233, 90, 50);
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
}

.footer-social a{
    color: rgb(24, 3, 255);
    margin-right: 78px;
}

.footer-social a:hover{
    color: rgb(14, 92, 169);
}

.qualityfoods{
    top: 415vh;
    position: absolute;
    margin-left: 82.5%;
}

.footer-copyRight{
    top: 436vh;
    position: absolute;
    margin-left: 35%;
}

.footer-copyRight a{
    color: rgb(233, 90, 10);
    font-size: 18px;
    font-weight: 700;
    position: relative;
}

@keyframes fade {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}



